body{
	margin: 0;
	padding: 0;
	background: url(banner.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	height: 100vh;
	
}

.login-block {
    float:left;
    margin-top: 350px;
    margin-left: 150px;
    text-align:center;
    width:260px;
    color: #fff;
    
}

.login-block form {
    -moz-border-radius:15px 15px 15px 15px;
    -moz-box-shadow:0 0 10px #333333;
    border:3px solid white;
    padding:20px;
    background: none; 
}

.signin