<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .student {
            display: none;
        }
        
        .company {
            display: none;
        }
    </style>
</head>

<body class="container">
    <form method="post" action='/registration/'>
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" name='name' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name='email' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="dropdown">
            <button class="btn btn-white dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Type
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <input type="text" name="user_type" hidden class="form-control" id="user_type">
                <a class="dropdown-item" onclick="utype('student')">Student</a>
                <a class="dropdown-item" onclick="utype('Admin')">Admin</a>
                <a class="dropdown-item" onclick="utype('company')">Company</a>
            </div>
        </div>
        <div class="form-group student" id="student">
            <label for="exampleInputEmail1">Cgpa</label>
            <input type="text" name="cgpa" class="form-control std" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group student" id="student">
            <label for="exampleInputEmail1">Roll no</label>
            <input type="text" name="roll_no" class="form-control std" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div class="form-group company" id="company">
            <label for="exampleInputEmail1">Required cgpa</label>
            <input type="text" name="r_cgpa" class="form-control cmp" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script>
        $(window).on("load", function() {
            alert('hiii');
            $('.student').hide();
            $('.company').hide();
        });

        function utype(id) {
            if (id == 'student') {
                var id = '.' + id;
                $('.company').hide();
                $(id).toggle();
                $('#user_type').val('student');


                $('.cmp').val('NONE');
            } else {
                var id = '.' + id;
                $('.student').hide();
                $(id).toggle();
                $('#user_type').val('company');

                alert()
                $('.std').val('NONE');
            }

        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>