{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
   <body style="background-image:download.jpg;">
      <title>Login V16</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <body>
         <div class="limiter m-auto">
            <div class="container-login100 col-md-4 m-auto" style="background-image: url('download.jpg');">
               <div class=" wrap-login100 p-t-30 p-b-50 ">
                  <p class="login100-form-title p-b-41 text-center">
                  Account Login 
                  </p>
                  <form id="Login-form" method="POST" action="/login/" >
                     {% csrf_token %}
                     <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                     </div>
                     <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                     </div>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
               </div>
            </div>
         </div>
         <div id="dropDownSelect1 "></div>
         
   </body>
</html>